
<div class="card p-3 mt-3 back-p">
    <h1 class="text-white text-center">Criar nova empresa</h1>
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Nome da empresa</label>
            <input type="text" class="form-control bg-white" id="nome" 
            placeholder="Nome das empresas" formControlName="nome">
            <div class="invalid-feedback">
                Informe o nome da empresa!!!
            </div>
        </div>
        <div class="col-sm-6">
            <label for="cnpj" class="form-label">Cnpj da empresa</label>
            <input type="text" class="form-control bg-white" id="cnpj" 
            placeholder="Cnpj das empresas" formControlName="cnpj">
            <div class="invalid-feedback">
                Informe o cnpj da empresa!!!
            </div>
        </div>
        <div class="col-sm-6">
            <label for="socios" class="form-label">Sócios da empresa</label>
            <input type="text" class="form-control bg-white" id="socios" 
            placeholder="socios das empresas" formControlName="socios">
            <div class="invalid-feedback">
                Informe os sócios da empresa!!!
            </div>
        </div>
        <div class="col-sm-12">
            <label for="endereco" class="form-label">Endereço da empresa</label>
            <input type="text" class="form-control bg-white" id="endereco" 
            placeholder="Endereco das empresas" formControlName="endereco">
            <div class="invalid-feedback">
                Informe o endereço da empresa!!!
            </div>
        </div>
        <div class="col-sm-12">
            <label for="faturamento" class="form-label">Faturamento da empresa</label>
            <input type="text" class="form-control bg-white" id="faturamento" 
            placeholder="faturamento das empresas" formControlName="faturamento">
            <div class="invalid-feedback">
                Informe o faturamento da empresa!!!
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary me-2" type="submit" (click)="Salvar()">Salvar</button>
            <button class="btn btn-danger" type="submit" (click)="Cancelar()">Cancelar</button>
        </div>
    </form>
</div>


