
<div class="card p-3 mt-3 back-p">
    <h1 class="text-white text-center">Criar novo cliente</h1>
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Nome do cliente</label>
            <input type="text" class="form-control bg-white" id="nome" 
            placeholder="Nome dos clientes" formControlName="nome">
            <div class="invalid-feedback">
                Informe o nome do cliente!!!
            </div>
        </div>
        <div class="col-sm-6">
            <label for="cpf" class="form-label">Cpf do cliente</label>
            <input type="text" class="form-control bg-white" id="cpf" 
            placeholder="cpf dos clientes" formControlName="cpf">
            <div class="invalid-feedback">
                Informe o cpf do cliente!!!
            </div>
        </div>
        <div class="col-sm-6">
            <label for="rg" class="form-label">Rg do cliente</label>
            <input type="text" class="form-control bg-white" id="rg" 
            placeholder="rg dos clientes" formControlName="rg">
            <div class="invalid-feedback">
                Informe o Rg do cliente!!!
            </div>
        </div>
        <div class="col-sm-12">
            <label for="endereco" class="form-label">Endereço do cliente</label>
            <input type="text" class="form-control bg-white" id="endereco" 
            placeholder="Endereco dos clientes" formControlName="endereco">
            <div class="invalid-feedback">
                Informe o Endereço do cliente!!!
            </div>
        </div>
        <div class="col-sm-12">
            <label for="email" class="form-label">Email do cliente</label>
            <input type="text" class="form-control bg-white" id="email" 
            placeholder="Email dos clientes" formControlName="email">
            <div class="invalid-feedback">
                Informe o Email do cliente!!!
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary me-2" type="submit" (click)="Salvar()">Salvar</button>
            <button class="btn btn-danger" type="submit" (click)="Cancelar()">Cancelar</button>
        </div>
    </form>
</div>


