
<div class="card p-3 mt-3 back-p">
    <h1 class="text-white text-center">Criar novo departamento</h1>
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Nome do departamento</label>
            <input type="text" class="form-control bg-white" id="nome" 
            placeholder="Nome dos departamentos" formControlName="nome">
            <div class="invalid-feedback">
                Informe o nome do departamento!!!
            </div>
        </div>
    
        <div class="col-sm-6">
            <label for="localidade" class="form-label">Localidade do departamento</label>
            <input type="text" class="form-control bg-white" id="localidade" 
            placeholder="Localidade dos departamentos" formControlName="localidade">
            <div class="invalid-feedback">
                Informe a localidade do departamento!!!
            </div>
        </div>
        <div class="col-sm-6">
            <label for="descricao" class="form-label">Descrição do departamento</label>
            <input type="text" class="form-control bg-white" id="descricao" 
            placeholder="Descricao dos departamentos" formControlName="descricao">
            <div class="invalid-feedback">
                Informe a descrição do departamento!!!
            </div>
        </div>

        <div class="col-sm-12">
            <label for="email" class="form-label">Email do departamento</label>
            <input type="text" class="form-control bg-white" id="email" 
            placeholder="Email dos departamentos" formControlName="email">
            <div class="invalid-feedback">
                Informe o email do departamento!!!
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary me-2" type="submit" (click)="Salvar()">Salvar</button>
            <button class="btn btn-danger" type="submit" (click)="Cancelar()">Cancelar</button>
        </div>
    </form>
</div>


